.header {
    width: 100%;        
    height: 500px;
    background: linear-gradient(180deg, #EB5757 0%, #D59152 100%);
    color: white;
}
.top-nav{
    padding: 30px 0px 0px 30px;
    display:flex;
    text-align: center;
    
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    width: 250px;
    
}
li{
    display: inline;
    padding: 0 7px;
    text-transform: uppercase;

    
}
#login{
    height: 20px;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px; 
    padding: 8px 25px;

}
#discover{
    text-align: center;
    padding: 90px 0 0 0;
    width: 50vw;
    margin: 0 auto;
    font-size: 65px;
}
h3 {
    text-align: center;
    padding: 40px 0 0 0 ;
}
#input{
width: 40vw;
margin:0 30vw ;
text-align: center;
padding: 30px 0;
position: relative;
top: 34px;
border-radius: 45px;
border: 4px solid #D59152;

}
body{
    margin:0;
}
